@charset "utf-8";
/* CSS File */


/* Dialog box types, (controls background and overlay) hidden by default */
.dlg,
.dlg-close,
.dlg-yes,
.dlg-no,
.dlg-yes-no,
.dlg-ok,
.dlg-cancel,
.dlg-ok-cancel,
.dlg-prompt,
.dlg-no-footer,
.dlg-no-btns
{
    margin:0;
    padding:0; /* Location of the box */
    display:none; /* Hidden by default */
    position:fixed; /* Stay in place */
    left:0;
    top:0;    
    z-index:10000; /* Sit on top */
    width:100%; /* Full width */
    height:100%; /* Full height */
    overflow:auto; /* Enable scroll if needed */
    background-color:rgb(0,0,0); /* Fallback color */
    background-color:rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Dialog box */
.dlg-box
{    
    margin:0 auto;
    padding:0;
    max-width:600px;
    overflow:auto; /* Enable scroll if needed */
    width:98%; /* 96% */
    background-color:#fefefe;
    font-family:Arial, Helvetica, sans-serif;
    font-size:0.9em;
    /* border-radius:6px; /* rounded corners */
    border:1px solid #3d6da8; /* border */
    border-top:none;
}

/* Dialog heading */
.dlg-heading
{
    display:block;
    margin:0;
    padding:10px;
    /*background-color:#496070; /* background color */
    /*background-color:#0078d7; /* background color */
    background-color:#3d6da8; /* background color */
    color:#fff; /* text color, change it as you wish */
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
    border:none;
    height:20px;
    line-height:20px;
}

/* Dialog title */
.dlg-title
{
    line-height:20px;
    z-index:10001;
}

/* Close X */
.dlg-close-x
{    
    float:right;
    z-index:10002;
    margin:0;
    margin-top:-5px;
    margin-right:0;
    padding:5px;
    color:inherit; /*fff*/
    font-size:2.0em;
    font-weight:normal;
    background-color:inherit;
    line-height:20px;
}

.dlg-close-x:hover,
.dlg-close-x:focus
{
    color:#000;
    text-decoration:none;
    cursor:pointer;
}

/* Dialog message */
.dlg-message
{
    display:block;
    margin:0;
    padding:15px;
}

/* Dialog input */
.dlg-input
{
    margin:0;
    margin-top:10px;
    padding-right:10px;
}

/* Dialog input-field */
.dlg-input-field
{
    margin-top:3px;
    padding:5px;
    width:100%;
    font-family:inherit;
    font-size:inherit;    
}

/* Dialog footer */
.dlg-footer
{
    display:block;
    margin:0;
    margin-top:10px;
    padding:10px;
    height:30px;
    background-color:#f0f0f0;
    border-top:1px solid #e5e5e5;
    text-align:right;
    border-bottom-left-radius:inherit;
    border-bottom-right-radius:inherit;    
}

/* The Close Button */
.dlg-close-btn
{
    /*float:right;*/
    padding:5px 15px;
    margin-left:10px;
}

/* The Yes Button */
.dlg-yes-btn,
.dlg-ok-btn
{
    /*float:right;*/
    padding:5px 15px;
    margin-left:10px;
}

/* The No Button */
.dlg-no-btn,
.dlg-cancel-btn
{
    padding:5px 15px;
    margin-left:10px;
}

/* Stop scrolling, used to stop scrolling of background page content (body) when dialogbox is in view */
.dlg-stop-scrolling
{
    height:100%;
    overflow:hidden;
}

/* Center dialog box vertical */
.dlg-center-vert
{
    position:absolute;
    top:50%;
    left:50%;
    -ms-transform:translate(-50%, -50%);
    transform:translate(-50%, -50%);
}

/* Disable translucent background, background overlay */
.dlg-no-overlay
{
    background-color:transparent;
}

/* Flex boxes */
.dlg-flex-container
{
    display:flex;
}

.dlg-flexbox-left,
.dlg-flexbox-right
{
    box-sizing:border-box;
}

.dlg-flexbox-left
{
    width:55px;
    margin:0;
    padding-top:5px;
    /*border:1px solid #f00;*/ /*debug*/
}

.dlg-flexbox-right
{
    width:100%;
    margin:0;
    padding:0;
    /*border:1px solid #00f;*/ /*debug*/
}

/* Dialog icons */
.dlg-symbol
{
    font-size:24px;
    font-family:"Courier new", Courier, monospace;
    border-radius:50%;
    padding:0;
    font-weight:bold;
    color:#fff;
	height:35px;
	width:35px;
	display:inline-block;
	text-align:center;
	line-height:34px;
}

.dlg-icon-info,
.dlg-icon-question
{
    background-color:#3d6da8;
    line-height:37px;
}

.dlg-icon-error 
{ 
    background:#e64943;
    font-family:Consolas, monospace;
    line-height:37px;
}

.dlg-icon-success
{
    background:#67b66e;
    font-size:17px;
    line-height:37px;
}

.dlg-icon-excl
{ 
    color:#000;
    border-radius:0;
    width:0;
    height:0;
    border-left:16px solid transparent;
    border-right:16px solid transparent;
    border-bottom:30px solid #ffd54b;
    line-height:37px;    
}

.dlg-icon-info:before
{
    content:'i';
}

.dlg-icon-question:before
{
    content:'?';
    margin-left:-1px;
}

.dlg-icon-error:before
{
    content:'\002716';
}

.dlg-icon-success:before
{
    content:'\002713';
}

.dlg-icon-excl:before
{
    content:'!';
    margin-left:-7px;
}

